<h1>Liste des tests</h1>

<% unless @tests.empty? %>
<table summary="Liste des urls testées"> 
	<thead> 
	<tr class="odd"> 
		<td class="column1"></td> 
		<th scope="col" abbr="1">1</th> 
		<th scope="col" abbr="2">2</th>	
    <th scope="col" abbr="1">1</th> 
		<th scope="col" abbr="2">2</th>	
    <th scope="col" abbr="1">1</th> 
		<th scope="col" abbr="2">2</th>
    <th scope="col" abbr="2">2</th>	
    <th scope="col" abbr="Actions">Actions</th>
	</tr>	
</thead>   
	<tbody>
    <% odd = 0
       @tests.each do |test|
    %>
    <%if odd == 1%>
      <tr class="odd"> 
      <%odd = 0%>
    <%else%>
      <tr>
      <% odd = 1%>   
    <%end%>
		<th scope="row" class="column1"><a HREF="<%=h test.url %>"><%=h test.url %></th> 
      <td><img src="ok.png"></td> 
		<td><img src="ok.png"></td> 
    <td><img src="nok.png"></td> 
		<td><img src="ok.png"></td> 
    <td><img src="warning.png"></td> 
		<td><img src="nok.png"></td>
    <td><img src="ok.png"></td> 
    <td><a href="/<%= test.id%>/delete"> [effacer]</a> <a href="/<%= test.id%>/list"> [voir]</a></td>
  </tr>
  <% end %>
	</tbody> 
</table> 
<% else %>
No test
<% end %>

