<h1>Ajouter un test</h1>

<div id="stylized" class="myform">
  <form id="form" name="form" action="/new" method="post">
    <h1>Ajouter un nouveau Test</h1>
    <p>Ce test sera lancé dans maximum 5 minutes</p>
    <label>URL
      <span class="small">avec http://</span>
    </label>
    <input type="text" name="url" id="url">
    <button type="submit">Ajouter test</input>
    <div class="spacer"></div>
  </form>
</div>


